body {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.631);
    background-color: hsla(202, 100%, 82%, 0.805)
}

#page {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: hsla(202, 100%, 65%, 0.805)
}

#work {
    background-color: hsla(202, 100%, 65%, 0.805)
}

#contatti {
    background-color: hsla(202, 100%, 65%, 0.805)
}

.section {
    padding: 16px;
    padding: 16px 16px;
    padding: 16px 16px 16px 16px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

/* X-Small devices (portrait phones, less than 576px)
// No media query for xs since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery figure {
        width: 30%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}